<!--<!doctype html>-->
<!--<html lang="en"-->
<!--      xmlns="http://www.w3.org/1999/xhtml"-->
<!--      xmlns:th="http://www.thymeleaf.org"-->
<!--&gt;-->
<!--<head>-->
<!--  <meta charset="utf-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"-->
<!--        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">-->
<!--  <title>Admin Panel</title>-->
<!--</head>-->

<!--<body>-->

<!--<div class="modal fade" th:id="editModal+${user.id}" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true" th:fragment="edit-modal">-->

<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->

<!--      <div class="modal-header">-->
<!--        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit user</h1>-->
<!--        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->

<!--        <div class="d-flex justify-content-center text-center">-->
<!--          <form th:method="POST" th:action="@{/admin/update(id=${user.getId()})}" class="col-4" th:id="editForm+${user.id}">-->
<!--            <div class="form-group mb-3" >-->
<!--              <label for="editId" class="form-label fw-bold">ID</label>-->
<!--              <input disabled type="text" class="form-control" id="editId" th:value="${user.id}" name="id"/>-->
<!--            </div>-->
<!--            <div class="form-group mb-3" >-->
<!--              <label for="editUsername" class="form-label fw-bold">Username</label>-->
<!--              <input type="text" class="form-control" id="editUsername" th:value="${user.username}" name="username"/>-->
<!--            </div>-->

<!--            <div class="form-group mb-3">-->
<!--              <label for="editPassword" class="form-label fw-bold">Password</label>-->
<!--              <input type="text" class="form-control" id="editPassword" th:value="${user.password}" name="password"/>-->
<!--            </div>-->

<!--            <div class="form-group mb-3">-->
<!--              <label for="editEmail" class="form-label fw-bold">Email</label>-->
<!--              <input type="email" class="form-control"  id="editEmail" th:value="${user.email}" name="contactInfo.email"/>-->
<!--            </div>-->

<!--            <div class="form-group mb-3">-->
<!--              <label for="editPhone" class="form-label fw-bold">Phone number</label>-->
<!--              <input type="text" class="form-control"  id="editPhone" th:value="${user.phone}" name="contactInfo.phone"/>-->
<!--            </div>-->

<!--            <div class="form-group mb-3">-->
<!--              <label for="editRoles" class="form-label fw-bold">Roles:</label>-->
<!--              <select class="form-select" th:size="${#sets.size(roles)}" multiple aria-label="roles" name="roleIds" id="editRoles">-->
<!--                <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}" th:selected="${#sets.contains(user.getRoles(), role)}">role name</option>-->
<!--              </select>-->
<!--            </div>-->
<!--          </form>-->
<!--        </div>-->

<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--        <button type="submit" class="btn btn-primary" th:form="editForm+${user.id}">Edit</button>-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>-->
<!--</body>-->
<!--</html>-->