<!doctype html>
<html>
<script type = "text/javascript" src = "/js/table.js"></script>
<body>
<h2>External JavaScript</h2>

<script type = "text/javascript">
    mkTbl('50px', 5);
</script>
<!--<script>-->
<!--    if (window.jQuery) {-->
<!--        var vJq = jQuery.fn.jquery;-->
<!--        console.log(vJq);-->
<!--    }-->
<!--</script>-->
<!--<p id="demo">-->
<!--    Ravesli.-->
<!--</p>-->

<!--&lt;!&ndash; Вызов JavaScript-функции gfg() &ndash;&gt;-->
<!--<button type="button" onclick="gfg()">-->
<!--    Try it-->
<!--</button>-->



<!-- Подключение внешнего JavaScript-файла -->
<!--<script src="js/test.js"></script>-->
<script
        src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
        crossorigin="anonymous">
</script>
</body>

</html>