<!doctype html>
<html>

<body>
<h2>External JavaScript</h2>
<script>
    if (window.jQuery) {
        var vJq = jQuery.fn.jquery;
        console.log(vJq);
    }
</script>
<p id="demo">
    Ravesli.
</p>

<!-- Вызов JavaScript-функции gfg() -->
<button type="button" onclick="gfg()">
    Try it
</button>

<!-- Подключение внешнего JavaScript-файла -->
<script src="js/test.js"></script>
<script
        src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
        crossorigin="anonymous">
</script>
</body>

</html>